#at-content .instructions {
  width: 100%;
  padding-bottom: 1em; }
  @media screen and (min-width: 600px) {
    #at-content .instructions {
      width: 60%; } }
  #at-content .instructions ul {
    border-bottom: 1px solid black; }
    #at-content .instructions ul li.head {
      font-weight: bold;
      border-top: 1px solid black; }
    #at-content .instructions ul li.note {
      font-style: italic; }
#at-content progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;
  margin: 1em 0; }
  #at-content progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }
  #at-content progress[value]::-webkit-progress-value {
    background-color: #0073aa; }
#at-content form {
  width: 100%; }
  @media screen and (min-width: 600px) {
    #at-content form {
      width: 60%; } }
  #at-content form .input-group {
    padding: 0.5em; }
    #at-content form .input-group label {
      width: 20%;
      display: inline-block; }
