$medium-up : 600px;

#at-content{
	.instructions{
		width: 100%;
		padding-bottom : 1em;
		@media screen and (min-width: $medium-up){
			width : 60%;
		}
		ul{
			li{
				&.head{
					font-weight : bold;
					border-top : 1px solid black;
				}
				// &:first-child{
				// 	border-top : none;
				// }
				&.note{
					font-style : italic;
				}
			}
			border-bottom: 1px solid black;
		}
	}

	progress[value] {
		/* Reset the default appearance */
		-webkit-appearance: none;
		appearance: none;

		width: 250px;
		height: 20px;
		margin: 1em 0;
		&::-webkit-progress-bar{
			background-color: #eee;
			border-radius: 2px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
		}
		&::-webkit-progress-value{
			background-color : rgb(0, 115, 170);
		}
	}


	form{
		width : 100%;
		@media screen and (min-width: $medium-up){
			width : 60%;
		}
		.input-group{
			padding: 0.5em;
			label{
				width: 20%;
				display : inline-block;
			}
		}
	}
}

